<b>@{{ atom["image"].time }}</b><br>

{% import robocore.images %}

{% for k, v in atom.iteritems() %}
  {% if isinstance(v, robocore.images.JpegImage) and not k.startswith("_")  %}
    {% set image_name = k %}
    {% set image = v %}
    {% include image.html %}
  {% end %}
{% end %}

{% for k, v in atom.iteritems() %}
  {% if not isinstance(v, robocore.images.JpegImage) and not k.startswith("_")  %}
    {{ k }} : {{ v }}<br>
  {% end %}
{% end %}

<script>var atom_id = {{ atom_id }};</script>
<div class="spacer"></div>
