<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Robocar Telemetry</title>
	<style>
		body {
			font-family: monospace, serif;
		}
		img {
      float: left;
      padding: 0px 0px 0px 0px;
    }
		div.spacer {
      clear: both;
      padding: 5px 0px 0px 0px;
    }
	</style>
</head>
<body>
		<h2> Session {{ session["time_str"] }} </h2>

		{% for atom_id in xrange(len(session["atoms"])) %}
		{% include session_atom.html %}
		{% end %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
		<script>
				var next_atom_id = {{ len(session["atoms"]) }}
				var session_id = {{ session["id"] }}

				$(document).ready(function() {
				    poll();
				});

				function poll() {
					$.ajax({
						url: session_id + "/" + next_atom_id,
						success: function(data) {
							$("body").append(data);
							next_atom_id++;
							window.scrollTo(0,document.body.scrollHeight);
							window.setTimeout(poll, 0);
						}
					});
				}
    </script>


</body>
</html>
